<div class="container" style="margin-top: 70px;">
  <h4>Add Employees</h4>

  <div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <form [formGroup]="empForm" (ngSubmit)=getFormData()>
          <div class="form-group">
            <label>ID</label>
            <input formControlName="id" type="text" class="form-control" placeholder="Enter ID">

            <label>Full Name</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Enter Your Full Name">

            <label>Contact No</label>
            <input formControlName="contact" type="text" class="form-control" placeholder="Enter Contact No">

            <label>Address</label>
            <input formControlName="address" type="text" class="form-control" placeholder="Enter Address">

            <label>Email</label>
            <input formControlName="email" type="text" class="form-control" placeholder="Enter Email">

          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-danger" (click)="clear()">Clear</button>



        </form>




      </div>
    </div>
  </div>
</div>
