<div style="color: red">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Add Employees</h5>
      <a routerLink="/form" class="btn btn-primary ">Add Employees</a><br>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">View Employees List</h5>
      <a routerLink="/list" class="btn btn-primary ">View Employees</a><br>

    </div>
  </div>
</div>



<router-outlet></router-outlet>

<!-- <app-login  ></app-login> -->
