<div>
  <form [formGroup]="empApiForm" (ngSubmit)=getApiFormData()>
    <div class="form-group">
      <input formControlName="name" type="text" class="form-control" placeholder="Enter Name">

      <input formControlName="job" type="text" class="form-control" placeholder="Enter Your Job">


    </div>
    <button class="btn btn-primary" type="submit">Post</button>

</form>

<table class="table" border="4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">email</th>
      <th scope="col">Full Name</th>
      <th scope="col">Image Link</th>
      <!-- <th *ngIf="empList.length!=0" scope="col">Delete</th>
      <th *ngIf="empList.length!=0" scope="col">Update</th> -->
    </tr>


  </thead>

  <tr *ngFor="let item of empList">
    <td>{{item.id}} </td>
    <td>{{item.email}}</td>
    <td>{{item.first_name}} {{item.last_name}}</td>
    <!-- <td>{{item.last_name}} </td> -->
    <a href="{{item.avatar}}" target="#"> ===> {{item.first_name}}'s Avatar Link</a>
    <img src="{{item.avatar}}" alt={{item.avatar} width="50px" style="float: left;">
    <!-- <td *ngIf="empList.length!=0"><button class="btn btn-danger" (click)="deleteData(item.id)"><i
          class="fa fa-trash"></i></button></td>
    <td *ngIf="empList.length!=0"><button class="btn btn-info" (click)="updateData(item.id)">Update</button></td> -->


  </tr>




</table>
